img{
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000;
}

h1, h2, h3{
  font-family: 'Satoshi', sans-serif;
}


p, a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}
