@mixin flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin form{
  @include flex;

      input:first-child{

        background-color: $grey;
        border: none;
        padding: 25px 75px;
        margin: 0;
        font-size: 16px;
        
        &::placeholder{
          color: #BABABA;
          font-size: 16px;
          position: relative;
          left: -40px;
        }

      }

      input:last-child{
        border: none;
        background-color: $primary;
        color: white;
        padding: 25px 15px;
        height: 68px;
        font-size: 16px;

        &:hover{
          cursor: pointer;
        }
      }
}