@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
img {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3 {
  font-family: "Satoshi", sans-serif;
}

p, a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.btn {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background: rgb(249, 249, 249);
  padding: 20px 0;
  width: 175px;
  margin: 0 auto;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  margin-top: 35px;
}
.btn:hover {
  color: white;
  background: #060606;
}

.container {
  width: 1280px;
  margin: 0 auto;
  margin-top: 80px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1385px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
header h1 {
  margin: 0;
  margin: 20px 0;
}
header .shop_login .shopping {
  margin-right: 15px;
}
header .shop_login .search {
  display: none;
}
header .burger {
  display: none;
}
header .burger img {
  height: 32px;
}

nav {
  width: 645px;
  margin: 0 auto;
  margin-top: 20px;
}
nav .furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .furniture a {
  color: #726E8D;
}

.first__screen {
  color: white;
}
.first__screen .container {
  background-color: #2A254B;
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first__screen .container .first__screen__left {
  width: 500px;
}
.first__screen .container .first__screen__left .btn {
  color: white;
  background: rgba(249, 249, 249, 0.15);
  margin: 0;
}
.first__screen .container .first__screen__left .btn:hover {
  background: rgba(6, 6, 6, 0.15);
}

.advantages h2 {
  text-align: center;
  margin-bottom: 50px;
}
.advantages .advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages .advantages__content .advantage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages .advantages__content .advantage {
  width: 270px;
}

.ceramics h2 {
  margin-bottom: 35px;
}
.ceramics .ceramics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ceramics .ceramics__content .ceramic__product img {
  width: 90%;
}

.products h2 {
  margin-bottom: 35px;
}
.products .products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products .products__content .product img {
  width: 90%;
}

.club {
  background-color: rgb(249, 249, 249);
  height: 700px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.club .container {
  background-color: white;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 150px;
  margin: auto auto;
}
.club .container h1 {
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  width: auto;
}
.club .container p {
  font-size: 24px;
  margin-top: 10px;
  width: 600px;
  text-align: center;
  margin-bottom: 50px;
}
.club .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.club .container form input:first-child {
  background-color: rgb(249, 249, 249);
  border: none;
  padding: 25px 75px;
  margin: 0;
  font-size: 16px;
}
.club .container form input:first-child::-webkit-input-placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
.club .container form input:first-child::-moz-placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
.club .container form input:first-child:-ms-input-placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
.club .container form input:first-child::-ms-input-placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
.club .container form input:first-child::placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
.club .container form input:last-child {
  border: none;
  background-color: #2A254B;
  color: white;
  padding: 25px 15px;
  height: 68px;
  font-size: 16px;
}
.club .container form input:last-child:hover {
  cursor: pointer;
}

.studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.studio .container {
  margin: 0;
  margin-left: 125px;
  width: 650px;
}
.studio .container .studio__left h2 {
  font-size: 36px;
}
.studio .container .studio__left p {
  font-size: 18px;
}
.studio .container .studio__left .btn {
  margin: 0;
  margin-top: 100px;
}
.studio .container img {
  margin-right: 20px;
}

footer {
  background-color: #2A254B;
  color: white;
  padding: 0;
  padding-top: 50px;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 0;
}
footer .container p {
  font-weight: 700;
}
footer .container .list__links {
  margin-right: 10px;
}
footer .container .list__links ul {
  padding: 0;
}
footer .container .list__links ul li {
  list-style: none;
  padding: 0;
  padding-top: 15px;
}
footer .container .list__links ul li a {
  color: white;
}
footer .container .mailing p {
  font-weight: 700;
}
footer .container .mailing form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container .mailing form input:first-child {
  background-color: rgb(249, 249, 249);
  border: none;
  padding: 25px 75px;
  margin: 0;
  font-size: 16px;
}
footer .container .mailing form input:first-child::-webkit-input-placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
footer .container .mailing form input:first-child::-moz-placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
footer .container .mailing form input:first-child:-ms-input-placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
footer .container .mailing form input:first-child::-ms-input-placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
footer .container .mailing form input:first-child::placeholder {
  color: #BABABA;
  font-size: 16px;
  position: relative;
  left: -40px;
}
footer .container .mailing form input:last-child {
  border: none;
  background-color: #2A254B;
  color: white;
  padding: 25px 15px;
  height: 68px;
  font-size: 16px;
}
footer .container .mailing form input:last-child:hover {
  cursor: pointer;
}
footer .container .mailing form input:first-child {
  background-color: rgba(249, 249, 249, 0.15);
  color: white;
}
footer .container .mailing form input:first-child::-webkit-input-placeholder {
  color: white;
}
footer .container .mailing form input:first-child::-moz-placeholder {
  color: white;
}
footer .container .mailing form input:first-child:-ms-input-placeholder {
  color: white;
}
footer .container .mailing form input:first-child::-ms-input-placeholder {
  color: white;
}
footer .container .mailing form input:first-child::placeholder {
  color: white;
}
footer .container .mailing form input:last-child {
  background-color: white;
  color: black;
}

.footer__bottom {
  background-color: #2A254B;
  color: white;
}
.footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(250, 250, 250, 0.15);
  margin-top: 0;
}
.footer__bottom .container .social__links img {
  margin-left: 15px;
}

@media (max-width: 1400px) {
  .container {
    width: 1000px;
  }
  header {
    width: 1000px;
  }
  .ceramics .ceramics__content .ceramic__product:last-child {
    display: none;
  }
  .products .products__content .product:last-child {
    display: none;
  }
  .studio .container .studio__left .btn {
    margin-top: 25px;
  }
  .studio img {
    margin-left: 25px;
  }
}
@media (max-width: 1200px) {
  .first__screen img {
    width: 350px;
  }
  .studio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .studio .container {
    margin-left: 0;
  }
  .studio .container .studio__left .btn {
    margin: 20px auto;
  }
  .studio img {
    margin: 0 auto;
  }
  .club {
    height: auto;
    background-color: #fff;
    margin: 75px auto;
  }
  .club .container {
    padding: 0;
  }
  .advantages .advantages__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages .advantages__content .advantage__row {
    margin-bottom: 30px;
  }
  .advantages .advantages__content .advantage__row .advantage:first-child {
    margin-right: 150px;
  }
}
@media (max-width: 1075px) {
  .container {
    width: auto;
    margin-right: 25px;
    margin-left: 25px;
  }
  header {
    width: auto;
  }
  header .search {
    margin-left: 25px;
  }
  header .shop_login {
    margin-right: 25px;
  }
  .products .container, .ceramics .container {
    margin-right: 0;
  }
}
@media (max-width: 975px) {
  header {
    width: auto;
  }
  .first__screen {
    background-color: #2A254B;
  }
  .first__screen .container {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first__screen .container img {
    display: none;
  }
  .ceramics .ceramics__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ceramics .ceramics__content .ceramic__product:nth-child(3) {
    display: none;
  }
  .products .products__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products .products__content .product:first-child {
    display: none;
  }
  .products .products__content .product:last-child {
    display: block;
  }
  .studio .container {
    width: auto;
  }
  .studio img {
    width: 100%;
  }
  footer .container .list__links {
    margin-left: 20px;
  }
  footer .container .mailing {
    margin-left: 20px;
  }
  .footer__bottom {
    padding-top: 25px;
  }
  .footer__bottom p {
    margin-left: 20px;
  }
}
@media (max-width: 875px) {
  footer .container .mailing {
    margin: 0 auto;
  }
}
@media (max-width: 705px) {
  .first__screen .container {
    margin-top: 0;
  }
  header h1 {
    margin-left: 25px;
  }
  header .shop_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .shop_login .login,
  header .shop_login .shopping {
    display: none;
  }
  header .shop_login .search {
    margin-right: 25px;
  }
  header .shop_login .burger,
  header .shop_login .search {
    display: block;
  }
  header .search {
    display: none;
  }
  nav {
    display: none;
  }
  .advantages .advantages__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages .advantages__content .advantage__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages .advantages__content .advantage__row .advantage:first-child {
    margin: 0;
  }
}
@media (max-width: 615px) {
  h1 {
    font-size: 26px;
  }
  .club .container h1 {
    font-size: 26px;
  }
  .club .container p {
    font-size: 18px;
  }
}